openai
bs4
requests
pydantic==2.10.0
wikipedia
google-generativeai
datasets
pydantic==2.10.0
scikit-learn
transformers[torch]==4.48.0
torch
statsmodels==0.14.4
bokeh==3.7.3
selenium==4.32.0
ollama==0.4.8
google-genai==1.15.0